<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle" >
    <div th:replace="~{partials/title-meta :: title-meta('test')}"></div>
</th:block>

<head>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="~{partials/page-title :: page-title('test','test')}"></div>
        <div class = "row">
            <h1>Welcome to the Test Page</h1>
            <p>This is a simple test page to demonstrate Thymeleaf layout and fragments.</p>
            <p>Feel free to modify this content as needed.</p>
        </div>
    </div>
</body>
</html>