<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
	<div th:fragment="head-css" th:remove="tag">
		<!-- Layout config Js -->
		<script th:src="@{/assets/js/layout.js}"></script>
		<!-- Bootstrap Css -->
		<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<!-- Icons Css -->
		<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
		<!-- App Css-->
		<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" />
		<!-- custom Css-->
		<link th:href="@{/assets/css/custom.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/libs/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
	</div>
</body>

</html>